@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;500;700&display=swap');

// overrides
.container.container {
  width: 100% !important;
  margin: 0 auto;
  padding: 0 !important;
  clear: both;
}

body {
  font-family: 'Jost', sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
