@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;500;700&display=swap");
#body .container {
  width: 100% !important;
  margin: 0 auto;
  padding: 0 !important;
  clear: both;
}

body {
  font-family: "Jost", sans-serif;
  margin: 0;
  padding: 0;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.bvdContainer {
  max-width: 1260px;
  width: 100%;
  margin: 0;
  padding: 0;
  margin: 0 auto;
}

.bvd-btn {
  color: #fff;
  display: block;
  width: 80%;
  margin: 0 auto;
  text-decoration: none;
  padding: 15px 10px;
  font-weight: 500;
  letter-spacing: 1px;
}
.bvd-btn-outline {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 15px;
}

.bvd-btn-black {
  background: #000;
  color: #fff;
  padding: 8px 20px;
  border-radius: 100px;
}

.bvd-svg {
  display: flex;
  align-items: center;
  justify-content: center;
}
.bvd-svg img {
  padding-right: 8px;
}

.mtop-lg {
  margin-top: 50px;
}

.mbottom-lg {
  margin-bottom: 50px;
}

.my-30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.my-50 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.section-header {
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: 600;
}

.show-on-large {
  display: none;
}
@media screen and (min-width: 1200px) {
  .show-on-large {
    display: inline;
  }
}

.bvd-hero {
  position: relative;
}
.bvd-hero__img-bg {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
@media screen and (min-width: 1024px) {
  .bvd-hero__img-bg {
    display: none;
  }
}
.bvd-hero__video-bg {
  display: none;
}
@media screen and (min-width: 1024px) {
  .bvd-hero__video-bg {
    display: block;
    width: 100%;
    object-fit: cover;
    height: 70vh;
  }
}
.bvd-hero__overlay {
  padding: 80px 15px 30px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .bvd-hero__overlay {
    padding: 10px 30px;
  }
}
.bvd-hero__overlay-meta {
  display: none;
}
@media screen and (min-width: 768px) {
  .bvd-hero__overlay-meta {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    margin-bottom: 50px;
  }
  .bvd-hero__overlay-meta p {
    margin: 10px 0;
  }
  .bvd-hero__overlay-meta p span {
    padding-right: 15px;
    align-content: center;
  }
}
.bvd-hero__overlay-propInfo {
  margin-bottom: 50px;
  letter-spacing: 3px;
  font-weight: 300;
  font-size: 13px;
}
.bvd-hero__overlay-propInfo p {
  margin: 0;
}
@media screen and (min-width: 768px) {
  .bvd-hero__overlay-propInfo {
    font-size: 16px;
    font-weight: 500;
  }
}
.bvd-hero__overlay-propWriteup h1 {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 20px;
}
.bvd-hero__overlay-propWriteup span {
  display: block;
  font-size: 40px;
  font-weight: 500;
  margin: 20px 0 50px 0;
}
@media screen and (min-width: 768px) {
  .bvd-hero__overlay-propWriteup {
    display: flex;
  }
  .bvd-hero__overlay-propWriteup > * {
    flex: 0 0 50%;
  }
  .bvd-hero__overlay-propWriteup h1 {
    font-size: 60px;
    font-weight: 500;
  }
  .bvd-hero__overlay-propWriteup p {
    text-align: left;
  }
}
@media screen and (min-width: 768px) {
  .bvd-hero__overlay-cta {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bvd-hero__overlay-cta > * {
    flex: 0 0 35%;
  }
  .bvd-hero__overlay-cta .bvd-svg {
    justify-content: flex-start;
  }
}

.bvd-navigation {
  display: none;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 768px) {
  .bvd-navigation {
    display: block;
    position: sticky;
    top: 0;
    background: #fff;
  }
}
.bvd-navigation nav {
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .bvd-navigation nav {
    display: flex;
  }
}
.bvd-navigation nav a {
  font-family: "Jost";
}
.bvd-navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
.bvd-navigation li {
  margin-right: 20px;
}
.bvd-navigation li a {
  color: #000;
}

.bvd-property-info {
  box-sizing: border-box;
  margin-top: 50px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 100px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 1024px) {
  .bvd-property-info {
    display: grid;
    grid-gap: 50px;
    grid-template-columns: 4fr 3fr;
    padding-top: 100px;
  }
}
.bvd-property-info article h2 {
  font-size: 30px;
  margin: 10px;
}
@media screen and (min-width: 768px) {
  .bvd-property-info article h2 {
    font-size: 50px;
  }
}
@media screen and (min-width: 1024px) {
  .bvd-property-info article h2 {
    font-size: 70px;
  }
}
.bvd-property-info article h3 {
  margin-top: 0;
  color: #555;
}
@media screen and (min-width: 768px) {
  .bvd-property-info article h3 {
    font-size: 30px;
  }
}
.bvd-property-info article p {
  line-height: 1.8;
  color: #555;
}
.bvd-property-info div h2 {
  font-size: 30px;
  margin-bottom: 10px;
}
.bvd-property-info__features {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media screen and (min-width: 768px) {
  .bvd-property-info__features {
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 50px;
  }
}
.bvd-property-info__features p {
  text-align: center;
}
.bvd-property-info__features p span {
  display: block;
}
.bvd-property-info__features p span:first-of-type {
  font-size: 27px;
  font-weight: 500;
}
.bvd-property-info__cta a {
  display: block;
  border: 1px solid #000;
  padding: 20px;
  text-align: center;
  margin: 10px 0;
  text-transform: uppercase;
  color: #000;
  font-size: 15px;
}
@media screen and (min-width: 768px) {
  .bvd-property-info__cta {
    margin-bottom: 50px;
  }
}
.bvd-property-info__features-list ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.bvd-property-info__features-list li {
  margin: 10px 0;
  font-size: 13px;
}

.bvd-map {
  padding-bottom: 100px;
  padding-top: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.bvd-gallery {
  height: auto;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(2, 1fr);
}
@media screen and (min-width: 768px) {
  .bvd-gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  .bvd-gallery {
    grid-template-columns: repeat(4, 1fr);
  }
}
.bvd-gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bvd-multimedia {
  padding-top: 50px;
}

#bvd-community {
  margin-top: 150px;
  padding: 15px;
}
@media screen and (min-width: 1200px) {
  #bvd-community {
    padding: 0;
  }
}
#bvd-community .hero {
  height: 500px;
  position: relative;
}
@media screen and (min-width: 768px) {
  #bvd-community .hero {
    height: 600px;
  }
}
#bvd-community .hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
#bvd-community .hero img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left center;
}
#bvd-community .hero-text {
  color: #fff;
  position: absolute;
  bottom: 40px;
  left: 40px;
  right: 40px;
  z-index: 1;
}
#bvd-community .hero-text h1 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 35px;
}
@media screen and (min-width: 768px) {
  #bvd-community .hero-text h1 {
    font-size: 80px;
  }
}
#bvd-community .hero-text h3 {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  margin: 30px 0;
}
#bvd-community .hero-text h4 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 6.8px;
}
@media screen and (min-width: 768px) {
  #bvd-community .hero-text h4 {
    font-size: 18px;
  }
}
#bvd-community .hero-text a {
  text-transform: uppercase;
  font-size: 12px;
  background-color: #fff;
  padding: 5px 15px;
  border-radius: 10px;
  letter-spacing: 1px;
  color: #282828;
}
#bvd-community .video-container video {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  height: auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
#bvd-community .video-writeup h2 {
  font-size: 40px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 1px;
  margin-bottom: 10px;
  -webkit-font-smoothing: antialiased;
}
@media screen and (min-width: 1200px) {
  #bvd-community .video-writeup h2 {
    margin-top: 0;
  }
}
#bvd-community .video-writeup h4 {
  font-size: 26px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #484848;
  line-height: 1.2;
  margin-top: 0;
}
#bvd-community .video-writeup p {
  color: #6a6a6a;
  font-size: 18px;
  font-weight: 400;
}
@media screen and (min-width: 1200px) {
  #bvd-community .video {
    margin-top: 100px;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: 1fr 1fr;
  }
}
#bvd-community .map {
  margin-top: 100px;
}
#bvd-community .map h2 {
  font-size: 30px;
  font-weight: 600;
  margin: 0;
}
#bvd-community .map p {
  color: #6a6a6a;
  font-size: 18px;
  font-weight: 400;
}
@media screen and (min-width: 1024px) {
  #bvd-community .map p {
    width: 65%;
  }
}
#bvd-community .amenities {
  margin-top: 100px;
}
@media screen and (min-width: 1200px) {
  #bvd-community .amenities {
    display: grid;
    grid-gap: 50px;
    grid-template-columns: 1fr 1fr;
  }
}
#bvd-community .amenities-reverse .amenities-text {
  grid-column: 2/3;
  grid-row: 1/2;
}
#bvd-community .amenities-reverse .amenities-photos {
  grid-column: 1/2;
  grid-row: 1/2;
}
#bvd-community .amenities-text h2 {
  color: #494949;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-top: 0;
}
#bvd-community .amenities-text h3 {
  font-size: 40px;
  font-weight: 500;
  line-height: 1;
  margin-top: 10px;
  margin-bottom: 10px;
}
#bvd-community .amenities-text p {
  color: #333;
  line-height: 1.6;
  font-weight: 300;
  font-size: 17px;
}
@media screen and (min-width: 768px) {
  #bvd-community .amenities-photos {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr 1fr;
  }
}
#bvd-community .amenities-photos img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#bvd-community .viewing {
  margin-top: 100px;
  padding: 50px 15px;
  background-color: #f9f9f9;
}
@media screen and (min-width: 1200px) {
  #bvd-community .viewing .bvdContainer {
    display: grid;
    grid-gap: 100px;
    grid-template-columns: 2fr 1fr;
  }
}
@media screen and (min-width: 1200px) {
  #bvd-community .viewing .view-text {
    grid-column: 2/3;
  }
}
#bvd-community .viewing .view-text h2 {
  font-size: 30px;
  font-weight: 600;
  margin-top: 30px;
}
#bvd-community .viewing .view-text p {
  color: #6a6a6a;
  line-height: 1.6;
  font-weight: 400;
  font-size: 17px;
}
@media screen and (min-width: 1200px) {
  #bvd-community .viewing .view-form {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}
#bvd-community .contact {
  margin-top: 50px;
  margin-bottom: 0;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  #bvd-community .contact {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
  }
}
#bvd-community .contact h1 {
  font-size: 50px;
  margin-top: 0;
}
@media screen and (min-width: 1200px) {
  #bvd-community .contact h1 {
    font-size: 85px;
    font-weight: 600;
  }
}
#bvd-community .contact h2 {
  font-size: 25px;
}
#bvd-community .contact h3:nth-of-type(1) {
  font-weight: 300;
}
#bvd-community .contact h3:nth-of-type(2) {
  font-size: 25px;
  margin-bottom: 5px;
}
#bvd-community .contact h3:nth-of-type(3) {
  font-weight: 400;
  font-size: 20px;
  margin-top: 5px;
}
#bvd-community .contact-info {
  padding: 10px 30px;
}
#bvd-community .contact-info p span {
  display: block;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  #bvd-community .contact-info p {
    display: flex !important;
    justify-content: space-evenly;
  }
}
#bvd-community .contact-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}