@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
.bvdContainer {
  max-width: 1260px;
  width: 100%;
  margin: 0;
  padding: 0 10px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .theGroupAreaHeader {
    position: relative;
    margin-top: 100px;
  }
  .theGroupAreaHeader::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
}
.theGroupAreaHeader img {
  display: none;
}
@media screen and (min-width: 768px) {
  .theGroupAreaHeader img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.theGroupAreaHeader h2 {
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .theGroupAreaHeader h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 1;
    color: #fff;
    font-size: 26px;
  }
}

.my-20 {
  margin: 20px 0;
}

#content h2 {
  border-bottom: none;
  padding-bottom: 0;
}

@font-face {
  font-family: DroidSerifRegular;
  src: url(../css/fonts/DroidSerif-Regular.ttf);
}
:root {
  --font-body: "Open Sans", sans-serif;
  --primary-color: #a31825;
}

body {
  font-family: var(--font-body);
}

.theGroupAgentIntro h1 {
  padding-bottom: 10px;
  font-weight: 500;
  letter-spacing: 1px;
}

.theGroupQuickLinks {
  margin-bottom: 100px;
}
.theGroupQuickLinks h2 {
  font-weight: 400;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .theGroupQuickLinks h2 {
    font-size: 20px;
  }
}
.theGroupQuickLinks ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-gap: 12px;
}
@media screen and (min-width: 768px) {
  .theGroupQuickLinks ul {
    grid-template-columns: 1fr 1fr;
  }
  .theGroupQuickLinks ul::before, .theGroupQuickLinks ul::after {
    content: none;
  }
}
.theGroupQuickLinks ul li {
  display: flex;
}
.theGroupQuickLinks ul li img {
  margin-right: 10px;
}
.theGroupQuickLinks ul a {
  text-decoration: none;
  color: #333;
  font-size: 15px;
  transition: all ease-in-out 0.3s;
  border-bottom: 1px solid transparent;
}
.theGroupQuickLinks ul a:hover {
  color: var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
}

@media screen and (min-width: 768px) {
  .theGroupAgentsList {
    display: grid;
    grid-gap: 50px;
    grid-template-columns: 1fr 1fr;
    margin-top: 50px;
  }
}
.theGroupAgentsList article {
  margin-bottom: 80px;
}
@media screen and (min-width: 768px) {
  .theGroupAgentsList article {
    margin-bottom: 0;
  }
}
.theGroupAgentsList figure {
  display: grid;
  grid-template-columns: 2fr 3fr;
}
.theGroupAgentsList figcaption h3 {
  text-align: left;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 15px;
}
.theGroupAgentsList figcaption h3 span {
  color: var(--primary-color);
}
.theGroupAgentsList figcaption p {
  margin-bottom: 0;
}
.theGroupAgentsList figcaption p span:first-of-type {
  display: inline-block;
  width: 60px;
}
.theGroupAgentsList .imgContainer {
  width: 105px;
  height: 131px;
  position: relative;
}
.theGroupAgentsList .imgContainer::before {
  content: "";
  display: block;
  position: absolute;
  top: 5px;
  left: -5px;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  z-index: 0;
}
.theGroupAgentsList .imgContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  position: relative;
  z-index: 1;
}