@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
@import 'utilities';
@import 'overrides';

@font-face {
  font-family: DroidSerifRegular;
  src: url(../css/fonts/DroidSerif-Regular.ttf);
}

:root {
  --font-body: 'Open Sans', sans-serif;

  --primary-color: #a31825;
}

body {
  font-family: var(--font-body);
}

@import 'intro';
@import 'agents';
