@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root {
  --body-font: 'Roboto', sans-serif;

  /* grey */
  --grey-50: #f8fafc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;

  /* other */
  --primary-color: #b11107;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
}

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
}

// UTILS
@import 'utils';

// HEADER
@import 'hero';

// NEWS
@import 'news';

.theGroupNewsReleases {
  padding: 50px 10px;
  background-color: var(--grey-100);

  &__card {
    border-bottom: 1px solid var(--grey-300);
    padding-top: 30px;
    padding-bottom: 30px;

    display: grid;
    grid-gap: 50px;
    grid-template-columns: 1fr 10fr;
  }

  &__icon {
    width: 77px;
    margin-bottom: 10px;
  }

  &__content {
    h3 {
      color: var(--primary-color);
      font-size: 15px;
      line-height: 1.5;
      margin-bottom: 20px;

      @media screen and (min-width: 1024px) {
        font-size: 24px;
      }
    }
    p {
      font-size: 13px;
      font-weight: 700;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
  }

  &-btn {
    color: var(--primary-color);
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    display: block;
    margin: 30px 0 0;

    @media screen and (min-width: 1024px) {
      font-size: 25px;
    }
  }
}
